@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ethnocentric';
  src: url('../fonts/FontsFree-Net-ethnocentric-rg.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body{
  background: black;
}
.brand{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}
h1{
  font-style: normal;
  font-weight: 400;
  font-size: 86px;
  line-height: 100%;
}
h2{
  font-style: normal;
  font-weight: 400;
  font-size: 46px;
  line-height: 120%;
}
h3{
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 120%;
}
h4{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
}
h5{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}
h6{
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 170%;
}

.body-1{
  font-style: normal;
  /* font-weight: 400; */
  font-size: 20px;
  line-height: 150%;
}
.body-2{
  font-style: normal;
  /* font-weight: 400; */
  font-size: 16px;
  line-height: 150%;
}
.body-3{
  font-style: normal;
  /* font-weight: 400; */
  font-size: 14px;
  line-height: 150%;
}
.body-4{
  font-style: normal;
  /* font-weight: 400; */
  font-size: 12px;
  line-height: 150%;
}



/* button  */
.btn-default{
  padding: 16px 40px;
  background: url('../images/bg-btn-1.svg');
  background-repeat: no-repeat;
  background-size: contain;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 157%;
  text-align: center;
  text-transform: uppercase;
}
.btn-default:hover{
  background: url('../images/bg-btn-2.svg');
  background-repeat: no-repeat;
}

.container{
  width: 80%;
  max-width: 1170px;
}

/* section  */
/* page index  */

/* section hero  */
section.hero{
  padding-bottom: 275px;
  background: url('../images/bg-hero.png') no-repeat;
  /* background: url('../Header\ Final.mp4') no-repeat; */
  background-position: center top;
  background-repeat: no-repeat;
}
section.hero .text-wrap{
  max-width: 494px;
}
@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
.planet-float{
  top:15%;
  right: -15%;
  width: 957px;
	height: 689px;
	box-sizing: border-box;
	/* border: 5px white solid; */
	/* border-radius: 50%; */
	overflow: hidden;
	box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	transform: translatey(0px);
	animation: float 6s ease-in-out infinite;
	/* img { width: 100%; height: auto; } */
}
#videobg {
  position: absolute;
  top: 0;
  left: 0;
  /* min-width: 100%;
  min-height: 100%; */
  width: 100%;
  height: 100%;
  /* height:auto;
  width:auto; */
  z-index: -100;
}

/* section metaplanet  */
section.metaplanet{
  margin-top: 200px;
  background: url('../images/bg-video.svg');
  background-position: center top;
  background-repeat: no-repeat;
  padding-top:50px;
  padding-bottom: 200px;
}
.metaplanet-hover{
  width: 100%;
}
.hover1-wrap{
  top: 22%;
  left: 42%;
}
.hover2-wrap{
  top: 45%;
  left: 33%;
}
.hover3-wrap{
  top: 34%;
  left: 55%;
}
.hover4-wrap{
  top: 55%;
  left: 49%;
}
.meta-hover{
  bottom: 69px;
  right: 98px;
}
.meta-hover2{
  bottom: 69px;
  left: 38px;
}
.meta-hover3{
  top: 68px;
  left: 38px;
}
.minus120{
  margin-left: -120px;
}
.minus80{
  margin-left: -80px;
}
.minuslr1{
  margin-right: -165px;
  margin-left: 50px;
}
.minuslr2{
  margin-right: -190px;
  margin-left: 50px;
}
.hover1-wrap:hover .meta-hover{
  display: block !important;
  width: 100%;
}
.hover2-wrap:hover .meta-hover{
  display: block !important;
  width: 100%;
}
.hover3-wrap:hover .meta-hover2{
  display: block !important;
  width: 100%;
}
.hover4-wrap:hover .meta-hover3{
  display: block !important;
  width: 100%;
}

/* section transcendence  */
section.transcendence{
  padding: 182px 0 100px;
}

/* section meta planet  */
section.meta-planet{
  padding: 100px 0;
}

/* section planet data  */
section.planet-data{
  padding: 100px 0;
}
.target-anim{
  left: 295px;
  bottom: 30px;
}
.animate-fadeIn {
  animation: fadeIn 3s ease-in forwards infinite;
}

/* section divider  */
section.divider{
  padding:100px 0;
}
.swiper-divider{
  overflow: hidden;
  background: #180D33;
  padding: 54px 0;
}
.swiper-divider-free-mode > .swiper-wrapper{
  transition-timing-function : linear;
}
.swiper-divider-free-mode > .swiper-wrapper .swiper-slide{
  max-width: 467px;
  margin-right: 4.5rem;
}

/* section clean meta star  */
section.clean-meta-star{
  padding: 100px 0;
}

/* section evolution  */
section.evolution-plan{
  padding: 100px 0;
}

/* section elements  */
section.elements{
  padding: 100px 0;
}
section.elements .text-wrap{
  max-width: 660px;
}
.element-wrap{
  max-width: 270px;
  max-height: 430px;
}
.text-element{
  padding: 25px 15px;
}

.el-1{
  background: url('../images/img-element-01.png');
  /* background: white; */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.el-1:hover{
  background: url('../images/img-element-01-hover.png');
  /* background: red; */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.el-1:hover .text-element p{
  display: block !important;
}

.el-2{
  background: url('../images/img-element-02.png');
  /* background: white; */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.el-2:hover{
  background: url('../images/img-element-02-hover.png');
  /* background: red; */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.el-2:hover .text-element p{
  display: block !important;
}

.el-3{
  background: url('../images/img-element-03.png');
  /* background: white; */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.el-3:hover{
  background: url('../images/img-element-03-hover.png');
  /* background: red; */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.el-3:hover .text-element p{
  display: block !important;
}

.el-4{
  background: url('../images/img-element-04.png');
  /* background: white; */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.el-4:hover{
  background: url('../images/img-element-04-hover.png');
  /* background: red; */
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.el-4:hover .text-element p{
  display: block !important;
}

/* section support  */
section.support{
  padding: 100px 0;
}
.speaks-wrap{
  background: url('../images/img-speaks-bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  max-width: 270px;
  padding: 100px 24px 20px 40px;
}
.regular-content{
  max-width: 270px;
}
.swiper {
  width: 600px;
  height: 100%;
}

/* section deepspace  */

section.deepspace{
  padding: 130px 0;

  background: url('../images/bg-deepspace.png');
  background-position: center top;
  background-repeat: no-repeat;
}
.accordion-button:not(.collapsed) {
  color: #FFFFFF;
  background-color: transparent;
  box-shadow: inset 0 -1px 0 #e5e7eb;
}
.accordion-button::after{
  margin-left: 0px;
  background-image: url('../images/IconlyLightArrow.svg');
}
.accordion-button:not(.collapsed)::after{
  transform: rotate(-180deg);
  background-image: url('../images/IconlyLightArrow.svg');
}
button.btn-default{
  padding: 18px 70px;
}
.swiper-detail {
  overflow: hidden;
  width: 100%;
  height: auto;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after{
  content: none !important;
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
  content: none !important;
}
